container-login{
    align-items: center;
    margin-top: 260px;
  }

  .register-input{
    border-radius: 16px;
    height: 50px;
    width: 190px;
    margin: 10px;
    border: 0;
    box-shadow: 2px 2px 2px rgb(226, 225, 225);
  }

  .login-button{
    background-color: #B6DBD4;
    color: #145566;
    margin: 30px;
    height: 50px;
    width: 140px;
    border-radius: 20px;
    text-align: center;
    padding: 16px 32px;
    border: 0;
    
  }
